extends layout

block content
  style
    .hand{
      width: 20px;
      height: 20px;
      position: fixed;
      left: 0px;
      top: 300px;
      -o-background-size: 100% 100%;
      -webkit-background-size: 100% 100%;
    }
    #left{
      /*background-color: #00f;*/
      background-image: url('/img/hand-left.svg');
    }
    #right{
      /*background-color: #f00;*/
      background-image: url('/img/hand-right.svg');
    }
    .pushed{
      background-color: #0c0;
    }
    .over{
      background-color: #00c;
    }
    .obj{
      position: fixed;
      top: 150px;
      left: 200px;
      width: 200px;
      height: 300px;
    }
  h1= title
  h4 Current user status: <span id='status'>---</span>

  #play
    #left.hand
    #right.hand

  #gallery
    for obj,i in objects
      if i > 2
        .grabbable.obj(style="left: #{(i-3) * 270 + 100}px; top: 620px;")
          img(src='/img/gallery/#{obj}.jpg')
          h5=obj
      else
        .grabbable.obj(style="left: #{i * 270 + 100}px;")
          img(src='/img/gallery/#{obj}.jpg')
          h5=obj
